/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 12px 12px 12px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  
}     
button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7AB8FF solid 3px
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #2457F5;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}


/* Amazon */
.button.button-amazon {
  color: #000000;
  background-color: #d4ae6f;
  border: 1px solid #212121;
}
.button.button-amazon:hover,
.button.button-amazon:focus {
  filter: brightness(90%);
}



/* Fetlife */
.button.button-fetlife {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-fetlife:hover,
.button.button-fetlife:focus {
  filter: brightness(90%);
}


/* Throne */
.button.button-throne {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #fb5cd9, #2f10db);
}
.button.button-throne:hover,
.button.button-throne:focus {
  filter: brightness(90%);
}

/* Bluesky */
.button.button-bluesky {
  color: #FFFFFF;
  background-color: #1185FE;
}

.button.button-bluesky:hover,
.button.button-bluesky:focus {
  filter: brightness(90%);
}

/* Bluesky Alt */
.button.button-bluesky-alt {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.button.button-bluesky-alt:hover,
.button.button-bluesky-alt:focus {
  filter: brightness(90%);
}

/* Buy Me a Coffee */
.button.button-coffee {
  color: #000000;
  background-color: #ffdd00;
}
.button.button-coffee:hover,
.button.button-coffee:focus {
  filter: brightness(90%);
}



/* Cash App */
.button.button-cash-app {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #00d64b, #00c244);
}
.button.button-cash-app:hover,
.button.button-cash-app:focus {
  filter: brightness(90%);
}




/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}
.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Etsy */
.button.button-etsy {
  color: #ffffff;
  background-color: #F45800;
}
.button.button-etsy:hover,
.button.button-etsy:focus {
  filter: brightness(90%);
}

/* Facebook */
.button.button-faceb {
  color: #ffffff;
  background-color: #1877f2;
}
.button.button-faceb:hover,
.button.button-faceb:focus {
  filter: brightness(90%);
}

/* Facebook Messenger */
.button.button-messenger {
  color: #ffffff;
  background-image: linear-gradient(
    25deg,
    #0099ff,
    #5f5dff,
    #a033ff,
    #c740cc,
    #ff5280,
    #ff7061
  );
}
.button.button-messenger:hover,
.button.button-messenger:focus {
  filter: brightness(90%);
}


/* Fiverr */
.button.button-fiverr {
  color: #ffffff;
  background-color: #1DBF73;
}
.button.button-fiverr:hover,
.button.button-fiverr:focus {
  filter: brightness(90%);
}



/* Google Black */
.button.button-google-black {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-google-black:hover,
.button.button-google-black:focus {
  filter: brightness(90%);
}



/* Throne */
.button.button-throne {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* Kick */
.button.button-kick {
  background-color:#000000;
  color:  #ffffff;
  border: 1px solid #ffffff;
}
.button.button-kick:hover {
  filter: brightness(90%);
}

/* Kick Alt */
.button.button-kick-alt {
  background-color:#01e701;
  color:  #000;
}
.button.button-kick-alt:hover {
  filter: brightness(90%);
}



/* Ko-fi */
.button.button-ko-fi {
  color: #ffffff;
  background-color: #13C3FF;
}
.button.button-ko-fi:hover,
.button.button-ko-fi:focus {
  filter: brightness(90%);
}



/* Line */
.button.button-line {
  color: #FFFFFF;
  background-color: #06C755;
}
.button.button-line:hover,
.button.button-line:focus {
  filter: brightness(90%);
}



/* Mastodon */
.button.button-mastodon {
  color: #ffffff;
  background-color: #17063B;
  border: 1px solid #FFFFFF;
}
.button.button-mastodon:hover,
.button.button-mastodon:focus {
  filter: brightness(90%);
}

 /* MyAnimeList */
.button.button-myanimelist {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000; 
}
.button.button-myanimelist:hover,
.button.button-myanimelist:focus {
  filter: brightness(90%) }

/* OnlyFans */
.button.button-onlyfans {
  color: #ffffff;
  background-color: #00AEEF;
}
.button.button-onlyfans:hover,
.button.button-onlyfans:focus {
  filter: brightness(90%);
}

/* Patreon */
.button.button-patreon {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-patreon:hover,
.button.button-patreon:focus {
  filter: brightness(90%);
}

/* PayPal */
.button.button-paypal {
  color: #ffffff;
  background-color: #003087;
}
.button.button-paypal:hover,
.button.button-paypal:focus {
  filter: brightness(90%);
}

/* Pinterest */
.button.button-pinterest {
  color: #000000;
  background-color: #ffe2eb;
  border: 1px solid #212121;
}
.button.button-pinterest:hover,
.button.button-pinterest:focus {
  filter: brightness(90%);
}



/* Reddit */
.button.button-reddit {
  color: #FFFFFF;
  background-color: #FF4500;
}
.button.button-reddit:hover,
.button.button-reddit:focus {
  filter: brightness(90%);
}

/* Revolut */
.button.button-revolut {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid black;
}
.button.button-rev:hover,
.button.button-rev:focus {
  filter: brightness(90%);
}

/* Shop */
.button.button-shop {
  color: #ffffff;
  background-color: #5A31F4;
}
.button.button-shop:hover,
.button.button-shop:focus {
  filter: brightness(90%);
}

/* Signal */
.button.button-signal {
  color: #ffffff;
  background-color: #3a76f0;
}
.button.button-signal:hover,
.button.button-signal:focus {
  filter: brightness(90%);
}


/* Snapchat */
.button.button-snapchat {
  color: #000000;
  background-color: #fffc00;
}
.button.button-snapchat:hover,
.button.button-snapchat:focus {
  filter: brightness(90%);
}


/* Spotify */
.button.button-spotify {
  color: #191414;
  background-color: #1db954;
}
.button.button-spotify:hover,
.button.button-spotify:focus {
  filter: brightness(90%);
}

/* Spotify Alt */
.button.button-spotify-alt {
  color: #FFFFFF;
  background-color: #191414;
  border: 1px solid #FFFFFF;
}
.button.button-spotify-alt:hover,
.button.button-spotify-alt:focus {
  filter: brightness(90%);
}

/* Square */
.button.button-square {
  color: #FFFFFF;
  background-color: #006AFF;
}
.button.button-square:hover,
.button.button-square:focus {
  filter: brightness(90%);
}



/* Steam */
.button.button-steam-alt {
  color: #ffffff;
  background-image: linear-gradient(90deg, #08BBFF, #2B75FF);
}
.button.button-steam:hover,
.button.button-steam:focus {
  filter: brightness(90%);
}

/* Steam Alt */
.button.button-steam {
  color: #ffffff;
  background-image: linear-gradient(90deg, #09172a, #072a57, #0c5085);
  border: 1px solid #FFFFFF;
}
.button.button-steam-alt:hover,
.button.button-steam-alt:focus {
  filter: brightness(90%);
}


/* Telegram */
.button.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}
.button.button-telegram:hover,
.button.button-telegram:focus {
  filter: brightness(90%);
}


/* TikTok */
.button.button-tiktok {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-tiktok:hover,
.button.button-tiktok:focus {
  filter: brightness(90%);
}



/* Tumblr */
.button.button-tumb {
  color: #ffffff;
  background-color: #131313;
  border: 1px solid #FFFFFF;
}
.button.button-tumb:hover,
.button.button-tumb:focus {
  filter: brightness(90%);
}



/* Upwork */
.button.button-upwork {
  color: #FFFFFF;
  background-color: #14A800;
}
.button.button-upwork:hover,
.button.button-upwork:focus {
  filter: brightness(90%);
}

/* Venmo */
.button.button-venmo {
  color: #ffffff;
  background-color: #008CFF;
}
.button.button-venmo:hover,
.button.button-venmo:focus {
  filter: brightness(90%);
}


/* Website */
.button.button-web {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-web:hover,
.button.button-web:focus {
  filter: brightness(90%);
}

/* WhatsApp */
.button.button-whatsapp {
  color: #ffffff;
  background-color: #455a64;
}
.button.button-whatsapp:hover,
.button.button-whatsapp:focus {
  filter: brightness(90%);
}

/* Wordpress */
.button.button-wordpress {
  color: #ffffff;
  background-color: #21759b;
}
.button.button-wordpress:hover,
.button.button-wordpress:focus {
  filter: brightness(90%);
}

/* X */
.button.button-x {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

